.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.custom-cursor-dot {
    width: 4px;
    height: 4px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 1024px) {

    .custom-cursor,
    .custom-cursor-dot {
        display: none;
    }
}